.flexNameHandle {
    display: flex;
    flex-direction: row;
}

.messageUserName {
    margin-right: 10px;
    font-weight:bold;
    font-size: 17px;
}

.messageUserHandle {
    font-size: 17px;
    color: #657786;
    margin-right: 10px;
}

.messageDate {
    font-size: 17px;
    color: #657786;
}

.cardContent {
    max-height: 70px;
}