.flexNameHandle {
    display: flex;
    flex-direction: row;
}

.messageUserName {
    margin-right: 10px;
    font-weight:bold;
    font-size: 17px;
}

.messageUserHandle {
    font-size: 17px;
    color: #657786;
    margin-right: 10px;
}

.messageDate {
    font-size: 17px;
    color: #657786;
}

.cardContentHeight {
    max-height: 70px;
    font-size: inherit;
    margin-bottom: 0px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #d0d4d6;
    padding: 20px;
}

.cardWidth-message {
    max-width: 450px;
}

.messageClickCard {
    color: black;
  }

  .messageClickCard:hover {
    color: #657786;
  }