.cardWidth {
  width: 600px;
}

.tweetClickCard {
  color: black;
}

.tweetClickCard:hover {
  color: black;
  text-decoration: none;
}

.cardContentTweet {
  font-size: inherit;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #d0d4d6;
  padding: 20px;
}

.cardContentTweet:hover{
  background-color: #f5f8fa;
}

.flexImageTweet {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flexNameHandle {
  display: flex;
  flex-direction: row;
}

.flexCardBtns {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flexBtnCnt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 7%;
}

.tweetUserName {
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 17px;
}

.tweetUserHandle {
  font-size: 17px;
  color: #657786;
  margin-right: 10px;
}

.tweetDate1 {
  font-size: 17px;
  color: #657786;
}

.tweetImage {
  max-width: 500px;
  max-height: 600px;
  object-fit: contain;
}

.flexRetweet {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: -5px;
}

.retweetIcon {
  margin-right: 5px;
  margin-left: 54px;
  font-size: 13px;
}
.retweetName {
  margin-right: 3px;
  margin-left: 10px;
  font-size: 13px;
  color: #657786;
}

.profileImageTweet {
  margin: 0 auto;
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
}

.tweetBody {
  margin-left: 10px;
}

*:focus {
  outline: 0 !important;
}