.saveBtn {
  background-color: #1da1f2;
  color: white;
  text-align: center;
  font-weight: 800;
  border-radius: 20px;
  width: 25%;
  height: 35px;
  font-size: 14px;
  outline: none;
  border: 0;
  margin-left: 10px;
}

.editForm {
  width: 130%;
}

.inputTitle {
  margin-left: 10px;
}

.inputDetails {
  margin-left: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.profileImage {
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  height: 250px;
}

.flexUploadImage {
  margin-left: 24%;
  margin-top: 5px;
}

.uploadProfileImage {
  margin: 0 auto;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  text-align: center;
  margin-left: 25%;
}

.modal-title {
  width: 800px;
}

.modal-header {
  flex-direction: row-reverse;
}

.modal-header .close {
  margin: none;
  padding: none;
  color: #1da1f2;
}

.modal-header .close:hover {
  color: #008abe;
}

.modalTitle {
  margin-right: 200px;
  margin-left: 50px;
  margin-top: 0px;
}

.button.close {
  padding: 0;
}

.flexLabelInput {
  display: flex;
  flex-direction: column;
}
.deactivate {
  color: red;
  padding-bottom: 0% !important;
}

.deactivate:hover {
  background-color: #ffe6e6;
}
