.submitBtn {
    background-color: #1DA1F2;
    color: white;
    text-align: center;
    font-weight: 700;
    margin-top: 15px;
    margin-left: 35%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 20px;
    width: 30%;
    height: 45px;
    font-size: 15px;
    outline: none;
    border: 0;
}

.inputTitle {
    margin-left: 10px;
}

.inputDetails {
    margin-left: 10px;
}

.profileImage {
    margin-left: 10px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
}