.doneBtn {
  background-color: #1da1f2;
  color: white;
  text-align: center;
  font-weight: 700;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 20px;
  font-size: 15px;
  outline: none;
}

.disabledDoneBtn {
  background-color: #d0d4d6;
  color: white;
  text-align: center;
  font-weight: 700;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 20px;
  font-size: 15px;
  outline: none;
}

.searchMembersBar {
  margin-left: 10px;
  background-color: #e6ecf0;
  outline: none;
  border: none;
  width: 90%;
  margin-top: 7px;
}

.flexMembersSelected {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px;
}

.memberSelected {
  border-style: solid;
  border-width: 1px;
  border-color: #1da1f2;
  border-radius: 20px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.memberSelectedImage {
  margin: 0 auto;
  max-width: 20px;
  max-height: 20px;
  border-radius: 50%;
}

.memberSelectedName {
  color: #1da1f2;
  font-size: 15px;
  font-weight: 600;
  margin-left: 5px;
}
