.flexMessagesIcon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.messageIcon {
    margin-left: 300px;
    color: #00ACEE;
}

.messageIcon:hover {
    color: #008abe;
}

.postMessageHeight {
    margin-left: 50px;
    width: 600px;
}

.cardWidth {
    max-width: 450px;
}

/* .autoExpandDiv {
    display: inline-block;
    min-height: 50px;
    width: 95%;
    margin-bottom: 10px;
  } */