.flexImage {
  display: flex;
  flex-direction: row;
}
.btn-info-solid {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
  font-weight: 900;
  line-height: 15px;
  border: 2px solid #00acee;
  border-radius: 40px;
  transition: all 0.3s ease 0s;
  background-color: #00acee;
  height: 60%;
  width: 100%;
  margin-bottom: 10%;
}
.btn-info-transparent {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #00acee;
  font-weight: 900;
  line-height: 15px;
  border: 2px solid #00acee;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
  height: 150%;
  width: 100%;
}
.btn-info-transparent-login {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #00acee;
  letter-spacing: 1px;
  line-height: 15px;
  border: 1px solid #00acee;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
  height: 50%;
  width: 100%;
  margin-top: 25%;
  margin-left: 30%;
}
.info-transparent-login {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 900;
  color: #00acee;
  line-height: 15px;
  border: 1px solid #00acee;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
  height: 42%;
  width: 70%;
  margin-top: 40%;
  margin-left: 10%;
}

.container {
  margin-left: 0px;
  margin-right: 0px;
}
.signupLogin {
  margin-top: 500%;
}
.main1 {
  height: 100vh;
}

.home {
  background-image: url('../Image/twitterImage.png');
  background-size: 104%;
  background-repeat: repeat-y;
  width: 50%;
}

.modal {
  top: 10%;
  left: 10%;
}
.modal-header {
  border-bottom-color: white !important;
}
.modal-footer {
  border-top-color: white !important;
  justify-content: center !important;
  margin-top: 0% !important;
}

.btn-info-solid-next {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 15px;
  color: white;
  letter-spacing: 0px;
  padding-bottom: 5px;
  line-height: 15px;
  border: 2px solid #00acee;
  border-radius: 40px;
  transition: all 0.3s ease 0s;
  background-color: #00acee;
  height: 30px;
  width: 100%;
}

.form-group {
  margin-bottom: 40px;
  outline: 0px;
}
.form-control-label {
  font-family: Arial;
  font-size: 10px;
  color: #6c6c6c;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-username {
  border: none;
  background-color: #f0f0f5;
  border-bottom: 2px solid darkgray;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  color: black;
  padding-left: 0px;
  height: 45px;
  width: 100% !important;
  margin-left: 10%;
}
.login-label {
  margin-top: 5%;
  margin-left: 10%;
}
input[type='text'] {
  border: none;
  background-color: #f0f0f5;
  border-bottom: 2px solid darkgray;
  border-top: 0px;
  border-radius: 0px;
  outline: 0;
  color: black;
  padding-left: 0px;
  height: 45px;
  width: 70%;
}
input[type='password'] {
  border: none;
  background-color: #f0f0f5;
  border-bottom: 2px solid darkgray;
  border-top: 0px;
  border-radius: 0px;
  outline: 0;
  color: black;
  padding-left: 0px;
  height: 45px;
  width: 70%;
}
input[type='text']:focus {
  border-bottom: 2px solid #00acee;
  box-shadow: none;
}
input[type='password']:focus {
  border-bottom: 2px solid #00acee;
  box-shadow: none;
}
input[type='email']:focus {
  border-bottom: 2px solid #00acee;
  box-shadow: none;
}
input[type='text']:read-only {
  border-bottom: 2px solid darkgray;
  box-shadow: none;
}
input[type='password']:read-only {
  border-bottom: 2px solid darkgray;
  box-shadow: none;
}
input[type='email'] {
  border: none;
  background-color: #f0f0f5;
  border-bottom: 2px solid darkgray;
  border-top: 0px;
  border-radius: 0px;
  outline: 0;
  color: black;
  padding-left: 0px;
  height: 45px;
  width: 70%;
}
.form-label {
  color: gray;
  font-size: 13px;
  text-align: justify;
  margin-top: 1%;
}
.row {
  margin-bottom: 0px;
}
.react-date-picker__wrapper {
  width: 200% !important;
  margin-top: 10% !important;
}
.step1-modal-body {
  padding-left: 10% !important;
  padding-bottom: 20% !important;
}
.step2-modal-body {
  padding-left: 10% !important;
  padding-bottom: 0% !important;
}
.modal-footer {
  padding-bottom: 10% !important;
}
.btn-info-solid-signup {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: white;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid #00acee;
  border-radius: 40px;
  transition: all 0.3s ease 0s;
  background-color: #00acee;
  height: 40px;
  width: 300px;
}
.error {
  margin-left: -10px;
  color: red;
  font-weight: bold;
  font-size: 10px;
}
.registerModal {
  width: 50vw !important;
  max-width: 50vw !important;
}
.loginUserNameError {
  margin-left: 5%;
  color: red;
  font-weight: bold;
  font-size: 10px;
}
.twitterImage {
  margin-top: 22% !important;
  margin-bottom: 5% !important;
}
.joinTwitter {
  margin-top: 8%;
  margin-bottom: 3%;
}
.bolder {
  font-weight: bolder;
}
.colorP {
  color: #00acee;
  display: inline;
}
.next {
  margin-bottom: 10%;
  margin-top: 5%;
}
.createAccount {
  margin-bottom: 3%;
}
.margin {
  margin-top: 0%;
}
.marginTop20 {
  margin-top: 1%;
}
.marginTop2 {
  margin-top: 3%;
}
.signupMargin {
  margin-top: 10%;
  width: 100%;
}
.form-label-margin {
  color: gray;
  font-size: 13px;
  text-align: justify;
  margin-top: 0%;
}

*:focus {
  outline: 0 !important;
}
.registerModalHeader{
  flex-direction : row !important;
}

.error::before{
  content: "\200B";
}

.loginUserNameError::before{
  content: "\200B";
}