.Analytics{
    padding-left: 5%;
    padding-right: 5%;
}
.border {
    border-style: solid;
    border-width: 0.5px;
    border-color: #d0d4d6;
    padding-left: 5%;
    padding-right: 5%;
  }
.fontChanges{
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 800;
    font-size: 19px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu,
      'Helvetica Neue', sans-serif;
} 