input {
  display: none;
  float: right;
}

.cardWidth {
  width: 600px;
}

.paperHeight {
  height: 50px;
  line-height: 50px;
  font-weight: 800;
  font-size: 19px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif;
  padding-left: 15px;
}

.cardContent {
  font-size: inherit;
  margin-bottom: 0px;
}

.tweetImage {
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  height: 250px;
}

.flexImageTweet {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.profileImage {
  margin: 0 auto;
  max-width: 50px;
  max-height: 50px;
}

.tweetText {
  margin-left: 20px;
  margin-top: 0px;
  width: 95%;
  height: 50px;
  outline: none;
}

.autoExpandDiv {
  display: inline-block;
  border: solid 1px #000;
  min-height: 50px;
  margin-left: 20px;
  margin-top: 0px;
  width: 95%;
  outline: none;
  width: 200;
  margin-top: 0px;
  width: 100%;
  font-weight: 600;
  overflow: hidden;
  border: none;
}

div[data-placeholder]:empty:not(:focus):not([data-div-placeholder-content]):before {
  content: attr(data-placeholder);
  float: left;
  margin-left: 2px;
  color: #b3b3b3;
}

.iconUpload {
  margin-left: 70px;
  display: 'none';
}

.postTweetBtn {
  background-color: #1da1f2;
  color: white;
  text-align: center;
  font-weight: 700;
  float: right;
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 20px;
  font-size: 15px;
}

.flexUploadTweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input {
  display: 'none';
}
